.main{
  width: 100%;
  background-color: #999;
  /* flex box syntax */
  display: flex;
}
.left{
  width: 25%;
  background-color: #c45e45;
  border: 5px solid #000;
  margin: 5px;
  padding: 4px;
  /* background-image: url(); */
}
.right{
  width: 70%;
  background-color: #666;
  border: 5px solid #000;
  margin:5px;
}
#name{
  color: green;
}
.left img{
  border-radius: 50px;
  border:5px solid#c454;
}
/* media queries(1024,1280,768,480)
 1280-1024:desctop
1024-768:Tablet(landscape)
768-480:Tablet
480:mobile landscape (or) smaller device
*/
/* @media screen and (min-width:425px) */
/* media queries */
@media only screen and (min-width:1024px) and (max-width:1280px)
{
  .main{
    display:flex;
  flex-direction: row;
width:100%;
  }
  .left{
    width: 25%;
    background-color: #999;
  }
  .right{
    width: 75%;
    background-color: pink;
  }
}
@media only screen and (min-width:768px) and (max_width:1024px){

}
@media only screen and (min-width:480px) and (max_width:768px){

}
@media only screen and (min-width:480px){

 }
